<h1>Welcome to Cocktails</h1>

<!-- Need to itereate through each of the cockatails to display them
or make a search mask-->
<h2>Here you can see the best cocktails ever</h2>

<%= link_to "Show Cocktails", cocktails_path, class: "btn btn-primary btn-lg" %>
